* {
    margin: 0;                             /* Remove as margens padrao de todos os elementos */
    padding: 0;                            /* Remove o preenchimento padrao de todos os elementos */
}                 
.form-group {

display: flex;

}